<!-- Bootstrap Navbar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">LEO Olympics 2018</a>
  </div>
</nav>

<div class="container">
  <div [style.margin-top.px]="10" class="row">
    <h3>Search for MyLCI Membership Details</h3>
    <form class="form-inline">
      <!-- <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" #name>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" #age>
      </div> -->
      <div class="form-group">
        <label for="lci">LCI Number</label>
        <input type="text" class="form-control" id="lci" #lci>
      </div>
      <button type="button" (click)="addPerson(name.value, age.value)" class="btn btn-primary">Search</button>
      <button type="button" (click)="addPerson(name.value, age.value)" class="btn btn-primary">Clear</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>Details from MyLCI</h3>
    <!-- Bootstrap Card -->
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let person of people">
      <h4 class="card-title">{{person.name}}  {{person.age}}</h4>
    </div>
  </div>
</div>